/* estilos para el recuadro de la deteccion */
.o-session-content{
    width: 75%;
    max-width: 1140px;
}

.o-video-placeholder{
    background-color: #242424;
    width: 100%;
    padding-top: 75%;
    position: relative;
    overflow: hidden;
}

/*estilos del mensaje que se muestra si otra app está utilizando la cámara*/
.o-external-video-usage{
    padding: 1rem;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.o-external-video-usage span{
    color: #ababab;
    font-size: 1rem;
    margin-bottom: 1rem;
}

/*estilos de la captura de video*/
.o-video-capture{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}
/*estilos para el contenedor de emociones detectadas (partículas)*/
.o-particle-container{
    width: 15%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 2rem;
    z-index: 99;
}

/*estilos para el emoji de la emocion detectada (partícula)*/
.o-emotion-particle{
    width: 2.5rem;
    position: absolute;
    bottom: 0%;
    right: 0;
    z-index: 999;
}

/* esitlos para el header de la deteccion */
.o-title-detect-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    width: 100%;
    height: 10rem;
    left: 0;
    z-index: 99;
    padding: .5rem;
    background: linear-gradient(0deg, rgba(0,0,0,0) 33%, rgba(0,0,0,0.4203431372549019) 58%, rgba(0,0,0,0.6276260504201681) 68%, rgba(0,0,0,0.8293067226890756) 77%, rgba(0,0,0,1) 100%)
}

/* estilos del titutlo de la materia */
.o-title-detection{
    font-size: 1.5rem;
    color: #ffffff;
    display: block;
}

/* estilos para el titulo del grupo en la ventana de deteccion */
.o-group-detect{
    color: white;
    font-size: 1rem;
}

/* estilos del contenedor de indicador de audio */
.o-sound-level-container{
    left: 0;
    bottom: 0;
    margin: .5rem;
    position: absolute;
    z-index: 99;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 3px;
}

/*estilos para el nivel de audio*/
.o-sound-level{
    background-color: #00BD00;
    width: 5px;
    height: 20%;
    border-radius: 5px;
}

/* estilos del boton */
.o-btn-start{
    width: 8rem;
    height: 2.8rem;
    border-radius: 15px;
    left: 50%;
    top: 0;
    transform: translate(50%, 0);
    transition: transform 300ms ease-in-out;
}

/* estilos para el footer */
.o-footer-detection{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

/*estilos del tiempo de la sesion actual*/
.o-session-time{
    color: #ababab;
    font-size: 1rem;
}

/*estilos para el contenedor de los controles de configuración*/
.o-config-set{
    display: flex;
    gap: .5rem;
}

/* estilos del boton de apagar y encender */
.o-btn-config{
    cursor: pointer;
    background-color:transparent;
    border: none;
    display: flex;
    color: white;
    outline: none;
    justify-content: center;
    align-items: center;
}
.o-btn-config:hover{
    background-color: #2e2e2e;
}

/* estilos para el div que contiene los puntos blancos */
.o-dots{
    height: 100%;
    display: flex;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-bottom-left-radius:0 ;
    align-self: center;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background-image: url(../src/dots.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1.1rem;
    background-color: transparent;
    cursor: pointer;
}
.o-dots:hover{
    background-color: #2e2e2e;
}

/* estilos para el contenedor del icono, texto y los puntos blancos */
.o-dot-icon-container{
    background-color: #292929;
    border-radius: 15px;
    width: 5.5rem;
    height: 2.8rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: 70% 30%;
    box-sizing: border-box;
    border: 2px solid transparent;
}

/* estilos del boton para reportar emocion */
.o-comment-btn{
    width: 3.5rem;
    height: 2.8rem;
    background-color: #292929;
    border-radius: 15px;
    display: flex;
    cursor: pointer;
}
.o-comment-btn:hover{
    background-color: #2e2e2e;
}
.o-comment-btn img{
    width: 1.7rem;
    margin: auto;
}

/* estilos de los iconos */
.o-camera-icon{
    width: 2.5rem;
}
.micro-icon{
    width: 1.5rem
}

/* estilos para el container del los dispositivos del micronfono */
.o-microdevices-container{
    position: absolute;
    z-index: 2000;
    font-size: 0.7rem;
    padding-top: 0.5rem;
    background-color: #1F1F1F;
    border-radius: 11px;
    color: #8A8A8A;
    overflow: hidden ;
    bottom: 31px;
    right: -103px;
    width: 18rem;
}
/* estilos para los controles de configuracion de dispositivos */
.o-devices-config{
    overflow: visible;
    position: relative;
}

/* estilos para el contenedor de las opciones de camara */
.o-cameradevices-container{
    position: absolute;
    z-index: 2000;
    font-size: 0.7rem;
    padding-top: 0.5rem;
    background-color: #1F1F1F;
    border-radius: 11px;
    color: #8A8A8A;
    overflow: hidden ;
    bottom: 34px;
    right: -115px;
}

/* estilos de la opcion  */
.o-select-option{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    height: fit-content;
    min-height: 1.5rem;
    box-sizing: border-box;
}

/* estilos para el texto de la opcion */
.o-select-option-Text{
    margin: .5rem 1rem;
    margin-left: 0;
}

/* estilos del hover en la opcion */
.o-select-option:hover:not(.o-yes-selected){
   background-color: #363636;
}

/* estilos del hover en la opcion de camara */
.o-selectC-option:hover:not(.o-yes-selected){
   background-color: #363636;
}

/* estilos para el header de las opciones */
.o-header-option{
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.7rem;
    height: 1rem;
}

/* estilos para la imagen del chulo */
.o-chulo-device{
    width: 0.7rem;
}

/* estilos si la opcion es seleccionada */
.o-yes-selected{
    background-color: #2E8AE5;
    color: white;
}

/*estilos del modal para registrar emociones*/
.o-emotions-modal{
    position: fixed;
    left: 50%;
    top: -100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242424;
    width: 25rem;
    padding-top: 2rem;
    box-sizing: border-box;
    border-radius: 1rem;
    overflow: hidden;
}
.o-modal-background:target .o-emotions-modal{
    top: 30vh
}

/* estilos del título del modal para registrar emociones */
.o-emotions-modal-title{
    color: #FFFFFF;
    font-size: 1.8rem;
}

/* estilos del selector de emociones del modal para registrar emociones */
.o-emotions-modal-subtitle{
    color: #000000;
    margin-bottom: .8rem;
    font-size: 1.4rem;
    font-weight: 500;
}

/* estilos del selector de emociones del modal para registrar emociones */
.o-emotions-modal-info{
    font-size: 1rem;
    color: #000000;
}
.o-emotions-modal-info-secundary{
    color: #454545;
}

/* estilos del selector de emociones del modal para registrar emociones */
.o-emotions-modal-emotion-container{
    display: flex;
    gap: .5rem;
    margin: 1rem 0;
}
.o-emotions-modal-emotion-container img{
    cursor: pointer;
    width: 3rem;
    opacity: 50%;
    transition: opacity 300ms ease-in-out;
}
.o-emotions-modal-emotion-container img:hover{
    width: 3rem;
    opacity: 80%;
}
.o-emotions-modal-emotion-container .o-emotion-selected{
    opacity: 100%;
}

/* estilos de la seccion de comentarios del modal para registrar emociones */
.o-modal-comment-section{
    background-color: #FFF7AB;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

/*estilos del footer del modal para registrar emociones*/
.o-modal-footer{
    display: flex;
    width: 90%;
    justify-content: space-between;
}

/*estilos del area de comentarios del modal para registrar emociones*/
.o-modal-textarea{
    width: 100%;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}
.o-modal-textarea textarea{
    box-sizing: border-box;
    border: none;
    resize: none;
    display: block;
    width: 100%;
    height: 6rem;
    padding: 5px;
}
.o-modal-textarea span{
    margin: .2rem 0;
    align-self: flex-end;
    font-size: .7rem;
}


/* mediaquery */
@media only screen and (max-width: 1200px){
    /* estilos para el recuadro de la deteccion */
    .o-session-content{
        width: 90%;
    }
    /* estilos para el container del los dispositivos del micronfono */
    .o-microdevices-container{
        right: 0;
    }
}

@media only screen and (max-height: 800px){
    /* estilos para el recuadro de la deteccion */
    .o-session-content{
        max-width: 802px;
    }
}

@media only screen and (max-width: 1300px){
    /* estilos para el recuadro de la deteccion */
    .o-btn-start{
        transform: translate(0, 0);
    }    
}

@media only screen and (max-width: 885px){
    /* estilos para el container del los dispositivos del micronfono */
    .o-microdevices-container{
        right: -103px;
    }
}