/*estilos del contenedor principal*/
body{
    display: flex;
    background-color: #1d1d1d;
    font-family: "Inter", sans-serif;
}

/*estilos del menu lateral*/
.o-sidemenu{
    background-color: #242424;
    width: 340px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    position: relative;
}

/*estilos del contendedor del nombre del estudiante*/
.o-user-name-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2e2e2e;
    height: 60px;
    width: 100%;
    margin: auto;
    padding: 0 1rem;
    box-sizing: border-box;
}

/*estilos del contenedor de cerrar sesion*/
.o-logout{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: fit-content;
    height: 3.6rem;
    border-radius: 16px;
    align-items: center;
    cursor: pointer;
    transition: background-color 300ms ease;
}

/*estilos de la imagen de cerrar sesion*/
.o-logout img{
    height: 2rem;
}

/*estilos del nombre del estudiante*/
.o-user-name-header span{
    color: #ffffff;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*estilos del cuerpo del contenedor del menu lateral*/
.o-sidemenu-body{
    box-sizing: border-box;
    padding: .5rem;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*estilos de header de proximas sesiones*/
.o-next-sessions{
    display: block;
    height: fit-content;
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

/*estilos de texto de proximas sesiones*/
.o-next-sessions-text{
    color: #ffffff;
    font-size: 1.5rem;
}

/*estilos del texto de no hay proximas sesiones*/
.o-no-next-sessions{
    font-size: 1.2rem;
    color: #ababab;
}

.o-sessions{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/*estilos de una sesion proxima*/
.o-session{
    box-sizing: border-box;
    width: 19rem;
    background-color: #363636;
    border-radius: 23px;
    height: 113px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: .5rem;
}

/*estilos del titulo de la sesion*/
.o-session-title{
    font-size: 1.2rem;
    color: #ffffff;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*estilos del grupo de la sesion*/
.o-session-group{
    font-size: 1rem;
    color: #ababab;
    height: fit-content;
}

/*estilos del contenedor de los tiempos de una sesion*/
.o-upsession-time{
    color: #ababab;
    font-size: 1rem;
}

/*estilos del footer del menu lateral*/
.o-sidemenu-footer{
    width: 100%;
}

/* estilos enlace de ayuda */
.o-help{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.o-help img{
    width: 1.8rem;
}
.o-help span{
    font-size: 1.2rem;
    color: #ffffff;
    margin-left: 1.5rem;
}

/*estilos del link de ClassMood web*/
.o-classmoodweb{
    color: #ababab;
    font-size: 1.2rem;
    display: block;
    margin: .5rem 0;
}
.o-classmoodweb a{
    color: #ffffff;
    text-decoration: underline;
}

/*contenedor del lado derecho*/
.right-side{
    background-color: #1d1d1d;
    height: 100vh;
    flex-grow: 1;
    position: relative;
}

/*link al modal de créditos*/
.o-credits{
    margin: 0 .5rem;
    font-size: .7rem;
    color: #ABABAB;
    position: absolute;
    bottom: .5rem;
    opacity: .5;
}
.o-credits span{
    color: #ffffff;
    text-decoration: underline;
}

/*estilos del contenedor principal*/
.o-main-container{
    width: 100%;
    min-width: 543px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/*estilos de la pantalla de no sesiones disponibles*/
.o-nosession-content{
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*estilos del titulo de la pantalla de no sesiones disponibles*/
.o-nosession-content span{
    color: #ffffff;
    font-size: 2rem;
}

/*estilos de la imagen de la pantalla de no sesiones disponibles*/
.o-nosession-content img{
    margin-top: 1rem;
    width: 30rem;
}

/*estilos para el boton de recargar sesiones*/
.o-reload-sessions{
    background-color: #2E8AE5;
    padding: .5rem;
    border-radius: 5px;
    width: 1rem;
    height: 1rem;
    display: flex;
    cursor: pointer;
}
.o-reload-sessions:hover{
    background-color: #297aca;
}

/*estilos para el icono de recargar sesiones*/
.o-reload-image{
    width: 1rem;
    margin: auto;
}

/*estilos del placeholder de sesiones*/
.o-sessions-placeholder{
    overflow: auto;
    max-height: 760px;
}

/*estilos del fondo del modal*/
.o-modal-background{
    position: fixed;
    top: -100vh;
    left: 0;
    z-index: 999;
    background: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.o-modal-background:target{
    opacity: 1;
    top: 0;
}

/*estilos del modal*/
.o-session-modal{
    position: fixed;
    left: 50%;
    top: -100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242424;
    height: 10rem;
    width: 15rem;
    padding: 2rem 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    justify-content: space-between;
}

/*estilos del titlulo del modal*/
.o-modal-title{
    margin-top: .5rem;
    color: #ffffff;
    font-size: 1.2rem;
    display: block;
}

/*estilos de la info del modal*/
.o-modal-info{
    margin-top: .5rem;
    color: #ababab;
    font-size: 1rem;
    display: block;
}

.o-modal-background:target .o-session-modal{
    top: 30vh
}

@media only screen and (max-height: 800px){
    /* estilos para el contenedor de sesiones */
    .o-sessions-placeholder{
        max-height: 516px;
    }
}

