body{
    background: url('../src/Background.png') no-repeat center top;
    background-size: auto;
    position: relative;
    overflow: hidden;
}

/*estilos de la division derecha de la patalla*/
.element1{
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    padding-right: 2rem;
}

/*estilos de la imagen de titulo*/
.o-title{
    width: 45rem;
}

/*estilos del subtitulo de la página*/
.o-subtitle{
    display: block;
    color: #ababab;
    font-weight: 300;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-bottom: 4rem;
}

/*estilos de la tarjeta del login*/
.o-login-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 1rem 2rem;
    background-color: #242424;
    width: 20rem;
    min-width: 260px;
    border-radius: 20px;
}

/*estilos del titulo de la tarjeta de Login*/
.o-login-title{
    color: #ffffff;
    font-size: 2rem;
    text-align: center;
    display: block;
    margin-bottom: 1.5rem;
}

/*estilos de los label de la tarjeta de login*/
.o-login-label{
    color: #ffffff;
    font-size: 1.2rem;
    align-self: flex-start;
    margin: .5rem 0;
}

/*estilos de los campos de texto de Login*/
.o-login-input{
    width: 100%;
}

/* estilos del contenedor de contraseña */
.o-password-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: #ababab 1px solid;
}

.o-password-container .o-login-input{
    width: 85%;
    border-bottom: none;
}

.o-password-container img{
    width: 1.8rem;
    height: auto;
    cursor: pointer;
}


/*estilos del mensaje de error*/
.o-validation-error{
    margin-top: 1rem;
    color: #ff8b6c;
    text-align: center;
}

/*estilos del boton de login*/
.o-login-button{
    margin-top: 1rem;
}

/*estilos del link de registro*/
.o-registerlink{
    margin: 1.5rem 0;
    color: #ababab;
}
.o-registerlink a{
    color: #ffffff;
}

/*estilos de la pagina de carga*/
.o-loading-panel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    display: flex;
}

/*estilos de el circulo de carga*/
.o-carga{
    border: 15px solid #242424;
    border-top-color: #DECC54;
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 100%;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/*estilos del panel de informacion*/
.o-information-panel{
    box-sizing: border-box;
    padding: 2rem 2rem 1.5rem 2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35rem;
    height: 42rem;
    border-radius: 1rem;
    background-color: #242424;
    left: 10rem;
    bottom: -40rem;
    cursor: pointer;
    z-index: 999;
    transition: bottom 500ms ease-in-out;
}
.o-information-panel:hover{
    bottom: 0;
}

/*estilos del icono de interrogacion del panel de informacion*/
.o-interrogation-icon{
    width: 2.3rem;
    height: 2.3rem;
    background-color: #f8e040;
    color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50px);
}

/*estilos del titulo del panel de informacion*/
.o-information-panel-title{
    color: #ffffff;
    font-size: 2rem;
}

/*estilos de las imagenes del panel de informacion*/
.o-information-img{
    height: 12rem;
    margin: 1rem;
}

/*estilos para el texto del panel de informacion*/
.o-information-text{
    color: #ababab;
    font-size: 1.2rem;
    text-align: center;
}