*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

/*estilos de los links*/
a{
    text-decoration: none;
}

/*estilos del boton generico*/
.o-btn{
    min-width: 10rem;
    height: 2.3rem;
    border-radius: 19px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.o-btn:disabled{
    opacity: 50%;
    cursor: default;
}

/*estilos del boton principal*/
.o-btn-primary{
    color: #000000;
    background-color: #DECC54;
    outline: none;
}
.o-btn-primary:enabled:hover{
    background-color: #f8e040;
}

/*estilos del boton secundario*/
.o-btn-secundary{
    color: #fff;
    background-color: #363636;
    outline: none;
}
.o-btn-secundary:hover{
    background-color: #2e2e2e;
}

/*estilos de los campos de texto*/
input[type = "text"], input[type = "password"]{
    border: none;
    border-bottom: #ababab 1px solid;
    background-color: transparent;
    color: #ababab;
    outline: none;
    font-size: 1.2rem;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    box-shadow: none;
    -webkit-box-shadow: 0 0 0 30px #242424 inset !important;
    -webkit-text-fill-color: #ababab;
}

/*Estilos del scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #363636; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #484848; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bababa; 
  }